<div class="d-flex fonte">

<footer >
  <div class="footer">
    <div class="footer_about" style="margin-left: 100px;">
      <img style="margin-left: 65px;" src="https://i.imgur.com/I4QVTFS.png" height="70px" alt="">
      <h3>E o que queres ?</h3>

      <p class="fs">
        Considerando os níveis de poluíção e a escassez de recursos naturais, é urgente repensar e mudar nosso modo de consumo. Acreditamos que a reutilização de materiais é essencial no combate à esses problemas ambientais, nosso objetivo é viabilizar a comercialização de produtos reutilizados e a conscientização das pessoas para essa questão urgente.</p>
    </div>




    <div class="footer_about" style="margin-left: 150px;">
      <h3 class="ml-5">Contate-nos</h3>
      <ul class="m-0">
        <li><img src="https://img.icons8.com/ios/25/ffffff/email-open.png"/> baependiprojeto@gmail.com</li>
        <li><img src="https://img.icons8.com/ios-glyphs/25/ffffff/whatsapp.png"/> +55 (11) 97319-87703</li>
        <li><img src="https://img.icons8.com/ios-glyphs/25/ffffff/facebook.png"/> www.facebook.com/baependi</li>
        <li><img src="https://img.icons8.com/ios-glyphs/25/ffffff/instagram-new.png"/> projeto_baependi</li>



       <div class="hr"></div>

        <h3 class="mt-3">Formas de pagamento</h3>

        <img src="https://img.icons8.com/fluency/40/000000/bank-cards.png" class="mr-2"/>
        <img src="https://img.icons8.com/color/40/000000/mastercard-logo.png" class="mr-2" />
        <img src="https://img.icons8.com/ultraviolet/40/000000/visa.png" class="mr-2" />
        <img src="https://img.icons8.com/plasticine/40/000000/amex.png" class="mr-2" />
        <img src="https://img.icons8.com/plasticine/40/000000/paypal-app.png" class="mr-2" />
        <img src="https://img.icons8.com/color/40/000000/mercado-pago.png" class="mr-2"/>





      </ul>
    </div>
    <div class="footer_right">
      <div class="footer_about">
        <h3 class="text-center">Venha nos visitar !</h3>
        <ul class="align-items-center mb-4" style="margin-left: 30px;">
          <li><img src="https://img.icons8.com/pastel-glyph/25/ffffff/treasure-map.png"/> Endereço: Rua Frutas de Santo Amaro, nº 100, Heliópolis/SP - CEP 04506-904</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3655.761402478037!2d-46.59304928502132!3d-23.612888484657294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce5c81754af935%3A0x698c9b16f38fbcb7!2sRua%20Frutas%20de%20Santo%20Amaro%2C%20100%20-%20Centro%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004235-100!5e0!3m2!1spt-BR!2sbr!4v1634323223939!5m2!1spt-BR!2sbr" width="700" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
  </div>
  <div class="copyright">
      Baependi ©
  </div>
</footer>
</div>