@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
 
.fonte {
     font-family: 'Poppins', sans-serif;
     
 }

.fs {
  font-size: 15pt;
  }

.fs2 {
  font-size: 25pt;
  }

.ti {
width: 150px;
height: 150px;
}


.sp_inicio{
border-right: 1px solid black;
padding-left: 5px;
}

ul {
  list-style: none;
}
footer {
  padding: 2rem 4rem;
  background: #327a36;
  color: white;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  gap: 2rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}
.footer_about p {
  font-size: 0.85rem;
}

.footer_main {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_main ul {
  padding-left: 1rem;
  line-height: 1.5;
}

.copyright {
  margin-top: 2rem;
  text-align: center;
  padding: 1rem 0 0 0;
  border-top: 1px solid black;

}

.hr{
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid black;

}




