

<div class="fonte">

<div class="contate-nos">
  <h3>Contate-nos</h3>
</div>

<h6 class="subtitle">
  Nos envie suas dúvidas, sugestões ou reclamações, ficaremos felizes em
  respondê-las
</h6>

<div class="container mt-5 mb-5">
  <form action="/action_page.php">
    <label for="nome"> Nome</label>
    <input type="text" id="nome" name="nome" placeholder="Seu nome" />

    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" placeholder="Seu e-mail" />

    <label for="assunto">Assunto</label>
    <textarea
      id="assunto"
      name="assunto"
      placeholder="Sua mensagem"
      style="height: 200px"
    ></textarea>

    <input type="submit" (click)="enviar()" routerLink="/inicio" value="Enviar"/>
    <p></p>
    <input type="reset" /> 
  </form>
</div>

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

</div>