<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Apagar Temas</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>
        Você tem certeza que deseja apagar esta categoria ? Todas os produtos relacionados a ela serão excluidos.
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>Categoria: {{categoria.tipoProduto}}</h5>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-danger" routerLink='/categoria'>Não</button>
      <button class="btn btn-success" (click)='apagar()'>Sim</button>
    </div>
  </div>

</div>
