.menu-brand {
  height: 70px
}

.navbar {
  background-color: #327a36;
}

.nav-item a {
  color: white;
}

.fa-search {
  font-size: 20px;
  color: white;
}

.fa-search:hover {
  color: black;
}

.navbar {
  background-color: #327a36;
}

img {
  margin-left: 15px;
  margin-right: 20px;
}

.navbar input {
  width: 500px;
}

.fa-search {
  font-size: 20px;
  color: white;
}

.fa-search:hover {
  color: black;
}

#divBusca {
  background-color: white;
  border-radius: 15px;
  width: 500px;
  display: flex;
  position: relative;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 20px;
  font-style: italic;
  font-size: 15px;
  border: none;
}

@import url(https://fonts.googleapis.com/css?family=Varela);
html {
  height: 100%;
}

body {
  background: #f2f2f2;
  font-family: 'Varela', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: rgb(51, 51, 51);
  min-height: 100%;
  position: relative;
}

label {
  margin-top: 6px;
  line-height: 17px;
}

a {
  color: #fff;
}

a:focus,
a:hover {
  color: #008080;
}

.checkbox-inline+.checkbox-inline,
.radio-inline+.radio-inline {
  margin-top: 6px;
}

.relative {
  position: relative;
}

.login-container-wrapper .logo,
.login-container-wrapper .welcome {
  margin: 0 0 20px 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  letter-spacing: 1px;
}

.login-container-wrapper .logo {
  text-align: center;
  position: absolute;
  top: -42px;
  margin: 0 auto;
  width: 25%;
  left: 37.5%;
  border-radius: 50%;
  background-color: #1c93b8;
  padding: 25px;
  box-shadow: 0px 0px 9px 2px #544534;
}

.login-container-wrapper {
  max-width: 400px;
  margin: 10% auto 8%;
  padding: 40px;
  box-sizing: border-box;
  background: rgb(50, 122, 54);
  box-shadow: 1px 1px 10px 1px #000000, 8px 8px 0px 0px #9ac8e2, 12px 12px 10px 0px #000000;
  position: relative;
  padding-top: 80px;
}

.login input:focus+.fa {
  color: #fff;
}

.login-form .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-form i {
  position: absolute;
  top: 18px;
  right: 20px;
  color: #ab9f93;
}

.login-form .input-lg {
  font-size: 16px;
  height: 52px;
  padding: 10px 25px;
  border-radius: 0;
}

.login input[type="email"],
.login input[type="password"],
.login input:focus {
  background-color: rgb(154, 200, 226);
  border: 1px solid #4a525f;
  color: rgb(238, 238, 238);
  border-left: 4px solid #12a5d1;
}

.login input:focus {
  border-left: 4px solid #22f506;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: rgba(40, 52, 67, 0.75)!important;
  background-image: none;
  color: rgb(0, 0, 0);
  border-color: #FAFFBD;
}

.login .checkbox label,
.login .checkbox a {
  color: #ddd;
}

.btn-success {
  background-color: transparent;
  background-image: none;
  padding: 8px 50px;
  border-radius: 0;
  border: 2px solid #93a5ab;
  box-shadow: inset 0 0 0 0 #7692A7;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
  transition: all ease 0.8s;
}

.btn-success:focus,
.btn-success:hover,
.btn-success.active,
.btn-success:active {
  background-color: transparent;
  border-color: #fff;
  box-shadow: inset 0 0 100px 0 #14e926ea;
  color: rgb(68, 54, 54);
}

.modal-backdrop {
  background-color: transparent;
  justify-content: center
}

.carousel-inner>.carousel-item>img {
  width: 600px;
  height: 600px;
}
.card-produto{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  padding: 50px;
  text-align: center;
  font-family: arial;

}

.img {
width: 450px;
height: 600px;
}

.img1{
  position: absolute;
  right: -20px;
  top: -25px;
}
