
<div class="div mt-5 fonte" >

   <h1 class=" text-center" style="margin-bottom: 5%; margin-top: 125px;">Por que focamos na Reutilização? <img src="https://i.imgur.com/8QzhJa8.png"/></h1>

<div class="container-fluid ">

      <!--Reutilização-->
     
      <!--Reutilização-->
   
      <!-- O que é-->

  <div class="container-fluid">


<div class="row d-flex align-items-center" style="margin-left: 200px;">

<div class="col-md-6">

<p class="fs">Reutilizar um produto significa aplicá-lo novamente da mesma maneira, com a mesma aplicabilidade ou em outras diferentes.
  Neste processo, diferentemente do que ocorre na reciclagem, o material não é reprocessado e transformado em um novo item, mas pode ser diretamente reutilizado.
  Um exemplo disso pode ser pensado em um brinquedo caseiro fabricado com garrafas pet.
  No caso, essas garrafas provavelmente serviam como um recipiente de um líquido ou algo parecido. Após seu uso, elas poderiam ser jogadas fora ou encaminhadas para um longo e custoso processo de reciclagem.
  Ao invés disso, pode-se usa-lás diretamente para gerar um brinquedo que por sua vez pode ser utilizado com fins lúdicos por exemplo. Nesse caso, através da reutilização, foi possível resignificar o uso de uma garrafa e reincorporar seu uso em um novo ciclo de vida, sem a utlização de processos químicos e evitando seu descarte.

  </p>
<p class="fs">Nesta discussão, também é interessante abordar as diferenças entre um processo de reciclagem convencional e a prática da reutilização. O processo de reciclagem é central no panorama de mitigação de problemas ambientais, visto sua capacidade em reincorporar produtos em ciclos produtivos como matéria prima ou novos produtos.
  Essa reincorporação permite, por exemplo, a dimunuição da quantidade de materiais descartados e insumos utilizados, que por sua vez diminuem a necessidade de extração de recursos naturais, diminuem a
  emissão de gases de efeito estufa originados em certos processos produtivos e os impactos associados ao descarte de materiais no meio ambiente.
  Entretanto, embora seja importante, o processo de reciclagem ainda utiliza uma considerável quantidade de energia. Um desses usos pode ser encontrado na queima de combustível que ocorre na movimentação dos
  caminhões que realizam a coleta de lixo nas residências e posterior transporte do mesmo às cooperativas. Além disso, também existe o gasto energético para o funcionamento dos equipamentos responsáveis por realizar os
  procedimentos necessários na reciclagem de materiais. Portanto, de forma geral, a reciclagem detém grande importância no panorama de mitigação de danos ambientais e das mudanças climáticas, contudo,
  ainda envolve a emissão de uma certa quantidade de gases e exige gasto energético. Tendo isso em mente, é importante que, antes de enviar um item para um processo de reciclagem, se garanta que o mesmo tenha sido utilizado o máximo possível.</p>


</div>

<div class="col-md-6">

<img style="margin-left: 200px; margin-bottom: 100px;" src="https://i.imgur.com/h2Cw1j7.jpg?1" class="imglado" alt="">

</div>


</div>




  </div>




  <div class="container-fluid">


    <div class="row d-flex align-items-center">



    <div class="col-md-3">

    <img src="https://i.imgur.com/maWaqLF.png?1" style="margin-left: 300px; height: 700px;" class="imglado mb-5" alt="">

    </div>

    <div class="col-md-6" style="margin-left: 400px;">

      <p class="fs"> Através do prolongamento da vida útil dos objetos por meio da reutilização,
        pode-se amenizar os impactos trazidos pela lógica de consumo desenfreado que predomina atualmente.
        A produção e o consumo em larga escala de materiais é um dos fenômenos explicativos causadores das mudanças climáticas e poluição. Isso, em linhas gerais
se dá pelo fato de que no processo de fabricação, acondicionamento e venda de produtos as indústrias emitem gases de efeito estufa e resíduos em altas quantidades. A reutilização de materiais pode ser vista como uma atitude saudável dentro da dicussão acima. Sua adoção é de extrema importância dentro
do panorama da reciclagem e da mudança na lógica de consumo vigente e pode contribuir em amenizar a ocorrência e os impactos das mudanças climáticas.
Por esses motivos, nós da Baependi acreditamos no potencial benéfico da reutilização no mundo moderno e incentivamos a sua prática por todos.
        </p>


      </div>


    </div>




      </div>

    </div>
  </div>








