<h2 class=" text-uppercase text-monospace text-center" style="color: #97c9e8;">Artes</h2>
<div class="container mb-5 mt-5">
    <div class="row">

        <div class="card border-white">
            <img class="card-img-top" src="https://i.imgur.com/VxWQdGV.jpg" width="100" height="200" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Vaso de flor</h5>
                <h6>Coloquem algo aqui</h6>
                <h6>R$:39,90</h6>
                <p class="card-text"></p>
            </div>
        </div>

        <div class="card border-white">
            <img class="card-img-top" src="https://i.imgur.com/7krJbEw.jpg" width="100" height="200" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Iluminaria com garrafas</h5>
                <h6>Coloquem algo aqui</h6>
                <h6>R$:59,90</h6>
                <p class="card-text"></p>
            </div>
        </div>



        <div class="card border-white">
            <img class="card-img-top" src="https://i.imgur.com/hmrtRO0.jpg" width="100" height="200" alt="Imagem de capa do card">
            <div class="card-body">
                <h5 class="card-title">Alguma coisa plastico</h5>
                <h6>Coloquem algo aqui</h6>
                <h6>R$:29,90</h6>
                <p class="card-text"></p>
            </div>
        </div>

    </div>

</div>
