@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
 
.fonte {
     font-family: 'Poppins', sans-serif;
     
 }



.register {
  background: -webkit-linear-gradient(left, #baeb6c, #46882f);
  
  padding: 3%;
}

.register-left {
  text-align: center;
  color: white;
  margin-top: 4%;
}

.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.register-right {
  background: #121b2493;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}

.register-left p {
  
  padding: 12%;
  margin-top: -9%;
}

.register .register-form {
  padding: 10%;
  margin-top: 10%;
}

button {
  margin: 0 15px;
}

.btnRegister {
  float: right;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #3ce29de0;
  color: #fff;
 
  width: 50%;
  cursor: pointer;
  margin: 15px;
}

.btnCancel {
  float: right;
  margin: 15px;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #ff0800e0;
  color: #fff;
  
  width: 50%;
  cursor: pointer;
}

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}

.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  
  color: rgb(202, 35, 35);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
  border: none;
}

.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #e3e9ee;
}


.img-fundo{
  background-image: url(https://i.imgur.com/DKTKI5o.jpg);
  background-size: cover;
  
}
