<!--Impactos da reutilização-->

<div class="fonte" style="margin-top: 125px ;">

  <h1 class="text-center">Impactos e possibilidades da reutilização <img class="ti"
    src="https://img.icons8.com/clouds/100/000000/recycle-sign.png" /></h1>

<div class="container-fluid mt-5 mb-5">

   
       
    

     

     
      <div class="container-fluid mb-4">


    <div class="row  align-items-center" style="margin-left: 300px;">

      <div class="col-md-6">

        <h3 class="mb-5">EM CASA</h3>


        <p class="fs">
          Diariamente, uma grande quantidade de materiais são taxados como inúteis ou inutilizáveis pelos seus
          geradores, o que provavelmente acarreta no seu descarte. Entretanto, existem maneiras de reutilizar estes
          produtos! Por exemplo, potes ou garrafas de plástico podem ser modificados e se tornarem vasos para plantas,
          objetos decorativos ou recipientes para guardar materiais diversos. Outra possibilidade seria a de transformar
          papéis usados em folhas de rascunho, restos de alimentos podem ser direcionados a composteiras para se
          transformarem em adubo para plantas, móveis velhos e desgastados podem ser restaurados e reutilizados, etc.
          Como se vê, as possibilidades dentro do panorama da reutilização são diversos.


        </p>

                       
      </div>

      <div class="col-md-6">

        <img src="https://i.imgur.com/SPIzcqU.gif" class="imglado" style="margin-left: 150px;" alt="">

      </div>


    </div>




  </div>






  <div class="container-fluid mb-4">


    <div class="row  align-items-center">

      <div class="col-md-6">


        <img src="https://i.imgur.com/sMXyLQx.jpg" style="height: 650px; width:650px; margin-left: 175px;" alt="">

                       
      </div>

      <div class="col-md-6">

        <h3 class= "mb-5">CONSTRUÇÃO CIVIL</h3>

        <p class="fs" style="margin-right: 100px;">



          O setor civil também comporta atividades com geração considerável de resíduos. Contudo, através da separação e
          organização de tais materiais, pode-se reutilizá-los. Alguns exemplos de materiais reutilizáveis são portas,
          janelas, pisos de forma geral, telhas, entre outros. Mesmo com múltiplas possibilidades de reutilização,
          poucas empresas do ramo de construção civil do Brasil adotam esta pratica no gerenciamento de seus resíduos.


        </p>

      </div>


    </div>




  </div>



  <div class="container-fluid mb-5">


    <div class="row  align-items-center" style="margin-left: 200px;">

      <div class="col-md-6">

        <h3 class="mb-5">SETOR INDUSTRIAL</h3>


        <p class="fs">



          As indústrias também são grandes agentes geradores de resíduos das mais diversas naturezas. Aqui também se tem
          a oportunidade de empregar a reutilização destes materiais. A resolução <a
            href="http://www.siam.mg.gov.br/sla/download.pdf?idNorma=263">CONAMA nº 313/2002</a> agrega informações e
          práticas necessários para que as indústrias efetuem um bom gerenciamento dos resíduos gerados. Notadamente, a
          reutilização se mostra como uma das etapas dentro desse conjunto de ações. No caso, esta prática contribui no
          sentido de reduzir custos de produção e incrementar a lucratividade e competitividade das empresas.


        </p>

                       
      </div>

      <div class="col-md-6">

        <img src="https://i.imgur.com/aMod7hE.jpg" class="imglado" alt="">

      </div>


    </div>




  </div>




  <div class="container-fluid mb-4">


    <div class="row align-items-center">

      <div class="col-md-6">


        <img src="https://i.imgur.com/Rbz1HUC.jpg" style="height: 550px; width:550px; margin-left: 300px;" alt="">

                       
      </div>

      <div class="col-md-6">

        <h3 class="mb-5">REUTILIZAR É CONSCIÊNCIA</h3>

        <p class="fs" style="margin-right:10px;">





          Através da reutilização, se contribui para diminuir a extração de matéria prima e recursos naturais, bem como
          reduzir a quantidade de água e energia destinados à confecção de novos bens de consumo. Adicionalmente, esta
          prática reduz a quantidade de resíduos descartados no meio ambiente, o que por sua vez incrementa a
          preservação ambiental e qualidade de vida para todos.


        </p>

      </div>


    </div>




  </div>


  <div class="row">
    <div class="col-md-12" style="margin-left: 475px;">
              <h4 class="fs2 mb-5">Venha construir um mundo melhor reutilizando conosco!</h4>
  </div>
 
    
    
       
  </div>

</div>

</div>