<div class="container-fluid">
    <div class="row ml-0 pb-0 mb-0" id="section-products">


        <div class="col-md-3 margin-top4-5rem bg-light pl-5 pt-3">
            <ul class="nav d-flex columnn" id="nav-tab" role="tablist">


              <form class="form-inline my-2 my-lg-0 ml-5">
                <div id="divBusca">
                  <input [(ngModel)]="buscar" name="busca" type="search" id="txtBusca" placeholder="O que você procura?"/>
                  <button class="btn" type="submit" id="cor"> <img (click)="findProduto()" src="http://img.icons8.com/material-outlined/24/000000/search--v1.png"/>
                  </button>
                </div>
              </form>

                <li class="">
                    <a class="nav-item nav-link active h5 color-green" id="nav-allProducts-tab" data-toggle="tab" href="#allProducts" (click)='findAllProdutos()' role="tab" aria-controls="nav-allProducts" aria-selected="true">Todos os produtos</a>
                </li>                


                <li class="mt-3 mb-0">
                    <h5 class="nav-item nav-link color-green" id="nav-categories-tab" aria-controls="nav-categories">
                        Categorias
                    </h5>
                </li>


                <li class="mb-2" *ngFor="let categoria of listaCategoria">
                    <a (click)='findByIdCategoria(categoria.idCategoria)' class="nav-item nav-link h6 color-green mb-0 pb-0" id="nav-byCategory-tab" data-toggle="tab" href="#byCategory" role="tab" aria-controls="nav-byCategory" aria-selected="false">{{categoria.tipoProduto}}
                    </a>

                </li>
            </ul>
        </div>


        <div class="tab-content col-md-9" id="nav-tabContent">

            <div class="tab-pane fade show active" id="allProducts" role="tabpanel" aria-labelledby="nav-allProducts-tab">
                        <h1 class="text-center">Todos os Produtos</h1>

               <div class="row">
                 <div class="col-md-6 mb-2"  *ngFor='let item of listaProdutos'>
                  <div id="container" style="height: 280px; width: 500px">
                    <!-- Start    Product details -->
                    <div class="product-details">
                      <!--     Product Name -->
                        <h4>{{item.nomeProduto}}</h4>
                      <p>Descrição: {{item.descricaoProduto}}</p>
                      <p>Autore: {{item.autoreProduto}}</p>


                      <!-- The most important information about the product -->
                      <p class="btn text-white">R$ {{item.precoProduto}}</p>

                      </div>

                    <div class="product-image">
                      <img src="{{item.fotoProduto}}" alt="Foto Produto" />

                    </div>
                  </div>

                 </div>

               </div>
            </div>


            <div class="tab-pane fade" id="byCategory" role="tabpanel" aria-labelledby="nav-byCategory-tab">
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-center mb-3">
                        <h1>
                            {{categoria.tipoProduto}}
                        </h1>
                    </div>

                      <div class="row">
                        <div class="col-md-6 mb-1" style="margin-left: 80px;"  *ngFor='let item of categoria.categoriaProdutos'>
                         <div id="container" style="height: 280px; width: 500px">
                           <!-- Start    Product details -->
                           <div class="product-details">
                             <!--     Product Name -->
                               <h4>{{item.nomeProduto}}</h4>
                             <p>Descrição: {{item.descricaoProduto}}</p>
                             <p>Autore: {{item.autoreProduto}}</p>


                             <!-- The most important information about the product -->
                             <p class="btn text-white">R$ {{item.precoProduto}}</p>

                             </div>

                           <div class="product-image">
                             <img src="{{item.fotoProduto}}" alt="Foto produto" />

                           </div>
                         </div>

                        </div>

                      </div>

                </div>
            </div>
        </div>
    </div>
</div>