.font-size13 {
    font-size: 13px;
}

.font-size10 {
    font-size: 10px;
}

.color-green {
    color: #253F01;
}

.color-white {
    color: aliceblue;
}

.img-card-size {
    max-height: 11rem;
    width: auto;
}

.margin-top4-5rem {
    margin-top: 4.5rem;
}

.columnn {
    flex-direction: column;
}

/*Todos os produtos*/
/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
background: #DFC2F2;
	background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
	background-attachment: fixed;
	background-size: cover;
	}

#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;

}



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

/* 	Product Name */
#container .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 25px;
	color: #344055;
	margin: 0;
}



.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;

}


.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49ca5c;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;

}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;

}

.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}
.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/* fim de todos os produtos */
/*****INPUT DE BUSCA*******/

#divBusca{
	background-color: white;
	border-radius: 15px;
	width: 220px;
	display: flex;
	position: relative;
}

#txtBusca{
	float: left;
	background-color: transparent;
	padding-left: 20px;
	font-style: italic;
	font-size: 15px;
	border: none;
}