<!-- ODS -->


<!--Título ODS-->
    <div class="container fonte" style="margin-top: 125px;">
          <h1> Objetivo de Desenvolvimento Sustentável 13 <img class="ti" src="https://i.imgur.com/loXbDZf.png"
      alt="Olho da ONU">
            </h1>
      </div>  
<!--Título ODS-->

<div class="container-fluid div fonte">
     
  <!-- Objetivos de desenvolvimento sustentável-->
      <div class="container">
            <div class="row">
                  <div class="col-md-12">
                        <h3>Você sabe o que são os objetivos de desenvolvimento sustentável da ONU?</h3>
                        <p class="fs mt-3">
                              Todos os 193 Estados que compoem a Organização das Nações Unidas, incluindo o Brasil,
          firmaram o acordo de adotar a chamada Agenda Pós-2015, considerada como uma das mais ousadas dentro do
          histórico da diplomacia internacional. Tomando ela como base e diretriz, as nações terão de trabalhar em
          conjunto para que seja possível cumprir os Objetivos de Desenvolvimento Sustentável (ODS).
                          </p>
                       
        <p class="fs">
                            Estes objetivos podem ser considerados como um apelo global à ação cooperativa para acabar com a pobreza,
          garantir proteção ambiental, amenização dos impactos climáticos e garantir um cenário pacífico e próspero a
          pessoas em todos os lugares. Abaixo, seguem os objetivos que as Nações Unidas estão trabalhando para que seja
          possível atingir a Agenda 2030 no Brasil:


                          </p>
                   
      </div>
              </div>

            <div class="row">
                  <div class="d-flex justify-content-center">
                        <img class="ti2" src="https://i.imgur.com/ELKdYEt.png" alt="ODS">
                    </div>
              </div>
        </div>
     
  <!-- Objetivos de desenvolvimento sustentável-->

     
  <!--ODS 13-->
      <div class="container mt-5">
            <div class="row">

                  <div class="col-md-12">
                        <h3> ODS-13 - ação contra a mudança global do clima
                      </h3>
                    </div>


      <div class="container-fluid">



        <div class="row d-flex align-items-center">

          <div class="col-md-6">
            <p class="fs">"A mudança do clima é um evento transnacional, cujos impactos estão desregulando economias
              nacionais e afetando pessoas em todos os lugares, principalmente aquelas em situação de maior
              vulnerabilidade nos países em desenvolvimento. Sem a ação imediata frente à mudança do clima, a
              temperatura terrestre está projetada para aumentar mais de 3 ºC até o final do século XXI. Uma das metas
              para esse objetivo é mobilizar 100 milhões de dólares por ano até 2020 para ajudar os países em
              desenvolvimento no plano de mitigação de desastres relacionados ao clima. O estabelecimento do ODS 13
              apenas para lidar com a questão do clima é encarado como estratégico para a mobilização dos atores capazes
              de promover as mudanças necessárias para impedir estas projeções de se tornarem realidade." - Agenda ODS
              2030."</p>

                           
          </div>

          <div class="col-md-6">

            <img src="https://i.imgur.com/5Y36HSY.png" class="imglado" style="margin-left: 150px;" alt="">

          </div>


        </div>




      </div>

                 

                 
             
    </div>


    <div class="row">

                  <div class="col-md-12">
                        <h3> ODS-13 - ação contra a mudança global do clima
                      </h3>
                    </div>


      <div class="container-fluid">

        <p class="fs mb-5">
         A BAEPENDI tem por objetivo principal contribuir com a ação contra a mudança global do
         clima. Você pode entendAer de que maneira fazemos isso clicando <a routerLink="/informacoes"> aqui!</a>
                          </p>

        <div class="row d-flex align-items-center">

          <div class="col-md-6">
            <h3 class="display-5">Metas do objetivo</h3>
                            <p class="fs">13.1 Reforçar a resiliência e a capacidade de adaptação a riscos relacionados
              ao clima e às catástrofes naturais em todos os países</p>
                            <p class="fs">13.2 Integrar medidas da mudança do clima nas políticas, estratégias e
              planejamentos nacionais</p>
                            <p class="fs">13.3 Melhorar a educação, aumentar a conscientização e a capacidade humana e
              institucional sobre mitigação, adaptação, redução de impacto e alerta precoce da mudança do clima</p>
                            <p class="fs">13.a Implementar o compromisso assumido pelos países desenvolvidos partes da
              Convenção Quadro das Nações Unidas sobre Mudança do Clima [UNFCCC] para a meta de mobilizar conjuntamente
              US$ 100 bilhões por ano a partir de 2020, de todas as fontes, para atender às necessidades dos países em
              desenvolvimento, no contexto das ações de mitigação significativas e transparência na implementação; e
              operacionalizar plenamente o Fundo Verde para o Clima por meio de sua capitalização o mais cedo possível
            </p>
                            <p class="fs">13.b Promover mecanismos para a criação de capacidades para o planejamento
              relacionado à mudança do clima e à gestão eficaz, nos países menos desenvolvidos, inclusive com foco em
              mulheres, jovens, comunidades locais e marginalizadas</p>

                           
          </div>

          <div class="col-md-6">

            <img src="https://i.imgur.com/4T82Ss9.jpg" class="imglado " style="margin-left: 150px;" alt="">

          </div>


        </div>




      </div>

                 

                 
             
    </div>

           

       
  </div>
     
  <!--ODS 13-->
</div>
<!-- ODS -->

<!-- ========================= END ODS 13 BY SANDRO  ========================= -->