<!--About us-->
<div class="divPrincipal mt-5 fonte">
    <div class="container-fluid">
        <p class="text-center" style="font-size: 45pt;">
            Quem somos?
        </p>

        <p class="text-center" style="font-size: 15pt;">
            Somos um grupo que acredita na visão holística acerca da problemática ambiental
        </p>
    </div>


    <div class="container p-0">

        <img src="https://imgur.com/dsh6fBc.gif" alt="img-ODS13" class="imgODS" style="height: 350px; width: 350px;">

        <p class="text-center">
            A equipe de desenvolvedores por detrás do projeto Baependi tomou para si a missão de desenvolver um E-commerce pautado em questões ambientais, tendo como base o objetivo de desenvolvimento sustentável 13 definido pelas Nações Unidas. Acreditamos que a
            reutilização possa ser compreendida como uma forma de enfrentamento da questão climática, visto que a reinserção de matéria-prima nos modelos produtivos diminui a necessidade de extração de recursos, reduzindo a ação de desmatamento, por exemplo.
            Além disso, pode-se também pensar no fato de que a reutilização gera produtos novos a partir de outros preexistentes que, muito provavelmente, seriam descartados se não fossem inseridos em um ciclo de reciclagem. Isso traz um benefício duplo
            tanto no sentido de permitir a confecção de novos produtos sem a utilização de meios convencionais (que na média ocorrem com a liberação de gases de efeito estufa) quanto também diminuir a pressão ambiental causada pelo descarte de resíduos
            sólidos.
        </p>

        <p>
            Além da pauta ambiental mencionada, o grupo também procurou por questões atuais a serem abordadas no site. A pandemia causada pelo SARS-CoV-2 teve repercussões séries em todo o planeta. Uma delas foi a perda de emprego por centenas de trabalhadores, que
            se viram forçados a migrarem para o mercado informal para garantir sua subsistência. Muitas pessoas passaram a depender da comercialização de produtos caseiros. Para contribuir na resolução desse problema e tendo em vista que, para se atingir
            a sustentabilidade, a questão da pobreza deve ser tratada, o projeto Baependi procurou oferecer uma plataforma que incentiva artistas independentes a comercializarem seus produtos. Esse intermédio, portanto, tem funcionalidade dupla: reduzir
            parte dos danos causados pela pandemia no âmbito do mercado de trabalho e promover a cultura de forma geral.
        </p>
    </div>
</div>


<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>



<!-- <!– START OF CONTACT CARDS BY SANDRO –> -->

<h3 class="text-center mt-3 display-4 fonte">Conheça a equipe Baependi!</h3>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/KgBlFAb.jpg">
                </div>
                <div class="team-content fonte">
                    <h3 class="name">Sandro Silva Lima</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/sandrosilvalima" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/sandrosilvalima/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/tonvwzN.jpg">
                </div>
                <div class="team-content fonte">
                    <h3 class="name">Deborah Leite</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/debelha" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/deborah-leite-40b922217/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/aHz85b5.jpg">
                </div>
                <div class="team-content fonte">
                    <h3 class="name">Cinthia Castro</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/CinthiaCastr01" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/cinthia-castro-165100160/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/VlHKWi8.jpeg">
                </div>
                <div class="team-content">
                    <h3 class="name fonte">Jonathan Bonfim</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/jonathantlb" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/jonathan-bonfim-4a9466178/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>

                </ul>
            </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/I68k8JP.jpeg">
                </div>
                <div class="team-content">
                    <h3 class="name fonte">Lucas Silva</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/MrLucc" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/lucas-silva-312454207/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/a4cyLtk.jpeg">
                </div>
                <div class="team-content">
                    <h3 class="name fonte">Cristiano da Silva</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/Cristiano-Silva-Soares" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/cristiano-da-silva-soares-495a3a217/ " class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/WDJPrYQ.jpeg">
                </div>
                <div class="team-content">
                    <h3 class="name fonte">Julio Pimont</h3>
                    <h4 class="title">Web Developer</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="https://github.com/SirMontoia" class="fa fa-github" aria-hidden="true" target="_blank"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/julio-pimont-bb9639182/" class="fa fa-linkedin" aria-hidden="true" target="_blank"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="our-team">
                <div class="picture">
                    <img class="img-fluid" src="https://i.imgur.com/OklyUwf.jpg%22%3E">
                </div>
                <div class="team-content">
                    <h3 class="name fonte">Cruella</h3>
                    <h4 class="title">Mascote da equipe</h4>
                </div>
                <ul class="social">

                    <li>
                        <a href="" class="" aria-hidden="true"></a>
                    </li>
                    <li>
                        <a href="" class="" aria-hidden="true"></a>
                    </li>
                </ul>
            </div>
        </div>






        <!-- <!– END OF CONTACT CARDS BY SANDRO –> -->



        <!--Inicio Tecnologias Usadas-->
        <!--Tecnologias Usadas-->




        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">


                    <div class="hr mb-5">

                    </div>

                    <h1 class="text-center mb-5 fonte">Tecnologias Usadas</h1>



                </div>
            </div>
        </div>

        <div class="container-fluid fonte">
            <div class="row d-flex justify-content-center">

                <div class="col-md-2 justify-content-center mr-3">
                    <h4 class="text-center">Bancos de Dados</h4>
                    <img class="ml-3" src="https://i.imgur.com/nBLOVc0.png" width="130" alt="Logo MySQL">
                </div>

                <div class="col-md-3">
                    <h4 class="text-center">Back-End</h4>
                    <img src="https://i.imgur.com/r2rt0xH.png" height="110px" width="230px" alt="Logo Java">

                    <hr>

                    <div class="ml-4">
                        <img class="ml-5 md-5 mb-2" height="90px" width="100px" src="https://i.imgur.com/8nNtBgS.png" alt="logo-SPRING">
                    </div>
                    <h5 class="text-center">Spring Rest</h5>
                </div>

                <div class="col-md-3">
                    <h4 class="text-center">Front-End</h4>
                    <img class="ml-2" src="https://i.imgur.com/Hesb3g4.jpg" height="110px" width="250px" alt="Logo HTML CSS e TS">

                    <hr>

                    <div class="ml-4">
                        <img class="ml-md-5 mb-2" height="90px" width="90px" src="https://i.imgur.com/EIfyqZ2.png" alt="logo-SPRING">
                    </div>
                    <h5 style="margin-right: 20px;" class="text-center">Angular</h5>
                </div>

                <div class="col-md-3 p-2 ml-3">

                    <h4 class="text-center">Apoio</h4>

                    <img src="https://i.imgur.com/IAFM7AZ.png" height="80px" width="80px" alt="Logo github">

                    <img class="p-2" src="https://i.imgur.com/FWwxSms.png" height="100px" width="100px" alt="">

                    <img src="https://i.imgur.com/ZZpyssa.png" height="80px" width="80px" alt="">

                    <hr>

                    <img src="https://i.imgur.com/4dKRnCv.png" height="80px" width="80px" alt="">

                    <img src="https://i.imgur.com/GO53B3Y.png" height="90px" width="90px" alt="">

                    <img src="https://i.imgur.com/jab40SW.png" height="90px" width="90px" alt="">

                </div>

            </div>
        </div>
        <!--Tecnologias Usadas-->





        <!--Parceiros-->

        <div class="container-fluid mb-3 fonte">
            <div class="hr mt-5">

            </div>
            <h1 class="text-center mt-5">Clique para conhecer nossos parceiros</h1>

            <div class="row d-flex justify-content-center">
                <div class="col-md-4">

                    <div class="accordion" id="accordionExample">

                        <div>
                            <div class="card-header-light d-flex justify-content-center" id="headingOne">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <img class="ti br-30" src="https://i.imgur.com/Nb76FAw.png" alt="Logo Action for life">
                          </button>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5>Action For Life</h5>Somos um e-commerce que vendemos produtos de baixo custo ou gratuitos com o intuito de garantir uma vida melhor no futuro. Nossos produtos são naturais ou de materiais recicláveis. Nossas iniciativas
                                    foram criadas para combater as mudanças climáticas e consequentemente reduzir a desigualdade dentro dos países e entre eles para alcançar e sustentar o crescimento da renda da população mais pobre do Brasil.
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card-header-light d-flex justify-content-center" id="headingTwo">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            <img class="ti br-30" src="https://i.imgur.com/zZ3SUp7.png" alt="Logo Climatika">
                          </button>
                            </div>

                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5>Climatika</h5>Um e-commerce empenhado em reduzir impactos ambientais e sociais de consumo com produtos ecológicos e parcerias com pequenos empreendedores. O projeto foi desenvolvido de maneira ágil, utilizando Java,
                                    Springboot, Angular, PostgreSQL, Bootstrap.
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card-header-light d-flex justify-content-center" id="headingThree">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                            <img class="ti br-30" src="https://i.imgur.com/Y4H33ZH.png" alt="Logo Ecobook">
                          </button>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    <h5>Eco Book</h5> A eco.Book acredita que um dos caminhos para o desenvolvimento sustentável é a educação. Incentivamos a leitura com consumo consciente: adquirir conhecimentos com o mínimo possível de impacto na natureza
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="accordion" id="accordionExample2">

                        <div>
                            <div class="card-header-light d-flex justify-content-center" id="headingFour">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                    <img class="ti br-30" src="https://i.imgur.com/qbnmK8F.jpg" alt="Logo Ecous">
                  </button>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample2">
                                <div class="card-body">
                                    <h5>Ecous</h5> Acreditamos que outro viver é possível. Num viver sustentável. Num mundo onde o dar e receber sejam recíprocos. Acreditamos em cuidar de nós e de tudo à nossa volta. Acreditamos na união entre a natureza
                                    e os seres humanos.
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card-header-light d-flex justify-content-center" id="headingFive">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                    <img class="ti br-30" src="https://i.imgur.com/XLUiNjc.png" alt="Logo Gaia">
                  </button>
                            </div>

                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample2">
                                <div class="card-body">
                                    <h5>Gaia</h5>Um projeto de e-commerce com a ideia de trazer a dinâmica da ecologia para o cliente, e também oferecer créditos bônus para compras com nossos parceiros.
                                </div>
                            </div>
                        </div>

                        <div>
                            <div class="card-header-light d-flex justify-content-center" id="headingSix">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                    <img class="ti br-30" src="https://i.imgur.com/NqNnioM.jpg" alt="Logo Generation">
                  </button>
                            </div>

                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample2">
                                <div class="card-body">
                                    <h5>Generation Brasil</h5>Nossa missão é transformar sistemas de educação para o emprego de maneira a preparar, colocar e apoiar pessoas em carreiras transformadoras que, de outra forma, seriam inacessíveis.
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <!--Parceiros-->