<!-- carrosel -->
<div
  class="carousel fade-carousel slide carousel-fade "
  data-ride="carousel"
  data-interval="5000"
  id="bs-carousel"
>
  <!-- Overlay -->
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active carousel-item">
      <div class="slide-1">
        <div class="overlay"></div>
        <div class="hero">
          <h3>Nossa Missão</h3>
          <h5 style="margin-top: 5%">
            O intuito é contribuir para a diminuição dos impactos ambientais causados pela lógica de consumo vigente e enaltecer o trabalho artístico de profissionais independentes.
          </h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg" routerLink="/sobre-nos">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>
    <div class="item slides carousel-item">
      <div class="slide-2">
        <div class="overlay"></div>
        <div class="hero">
          <h3>No que nos baseamos ?</h3>
          <h5 style="margin-top: 5%">
            O objetivo de Desenvolvimento Sustentável número 13 dialoga com a
            questão climática global. Nossa plataforma tem o intuito de valoriar
            produtos reciclados, como forma de amenizar os impactos trazidos
            pela cadeia de consumo em massa, que envolvem desmatamento, pressão
            sobre recursos naturais, entre outros.
          </h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg" routerLink="/ods">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>
    <div class="item slides carousel-item">
      <div class="slide-3">
        <div class="overlay"></div>
        <div class="hero">
          <h3>A arte e suas fronteiras</h3>
          <h5 style="margin-top: 5%">
            Nossa plataforma procura promover a arte através do apoio a diversos
            artistas independentes. Esperamos que aqui possa se tornar um espaço
            amigável para aqueles que desejam compartilhar seu trabalho com o
            mundo e para aqueles que procuram apreciar o trabalho artísitico
            alheio.
          </h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg">Saiba Mais</button>
        </div>
      </div>
    </div>
    <div class="item slides carousel-item">
      <div class="slide-4">
        <div class="overlay"></div>
        <div class="hero">
          <h3>A loja</h3>
          <h5 style="margin-top: 10%">Conheça nossos produtos.</h5>
        </div>
        <div class="hero" style="margin-top: 10%">
          <button class="btn btn-hero btn-lg" routerLink="/todosprodutos">
            Saiba Mais
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Fim do carrossel -->



<!--Jumbotron  -->

<div class="jumbotron jumbotron-fluid bg-dark" >

  <div class="jumbotron-background" >
    <img src="https://i.imgur.com/0UPp1XA.jpg"   alt="">
  </div>

  <div class="container text-white">

    <h1 class="display-4 " style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Baependi: Unindo consciência e consumo</h1>
    <p class="lead">Entre em contato conosco!</p>
    <hr class="my-4">

    <a class="btn btn-outline-info btn-lg " href="#" role="button" routerLink= '/contato' >Contato</a>



  </div>
  <!-- /.container -->


</div>

<!--/Jumbotron  -->


<!-- produtos em destaque -->

<h5 class="text-center display-4" style="color: #97c9e8;">Produtos em destaque</h5>

<div class="row">
  <div id="container" style="height: 280px; width: 500px">
    <!-- Start    Product details -->
    <div class="product-details">
      <!--     Product Name -->
      <h4>Belos recipientes de plantas originados de latas reutilizadas</h4>
      <!--         <span class="hint new">New</span> -->
      <!--         <span class="hint free-shipping">Free Shipping</span> -->
      <!--         the Product rating -->
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>

      <!-- The most important information about the product -->
      <p class="information">R$ 30,75</p>

      <!--         Control -->
      <div class="control">
        <!-- Start Button buying -->
        <button class="btn">
          <!--         the Price -->

          <!--         shopping cart icon-->
          <span class="shopping-cart"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i
          ></span>
          <!--         Buy Now / ADD to Cart-->
        </button>
        <!-- End Button buying -->
      </div>
    </div>

    <!--     End    Product details   -->

    <!--     Start product image & Information -->

    <div class="product-image">
      <img src="https://i.imgur.com/7QjoeyW.jpeg" alt="Omar Dsoky" />

      <!--     product Information-->
    </div>
    <!--  End product image  -->
  </div>

  <div id="container" style="height: 280px; width: 500px">
    <!-- Start    Product details -->
    <div class="product-details">
      <!--     Product Name -->
      <h4>Pneus estilizados (servem de assento ou apetrechos de jardim)</h4>
      <!--         <span class="hint new">New</span> -->
      <!--         <span class="hint free-shipping">Free Shipping</span> -->
      <!--         the Product rating -->
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>

      <!-- The most important information about the product -->
      <p class="information">R$ 50.00</p>

      <!--         Control -->
      <div class="control">
        <!-- Start Button buying -->
        <button class="btn">
          <!--         the Price -->

          <!--         shopping cart icon-->
          <span class="shopping-cart"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i
          ></span>
          <!--         Buy Now / ADD to Cart-->
        </button>
        <!-- End Button buying -->
      </div>
    </div>

    <!--     End    Product details   -->

    <!--     Start product image & Information -->

    <div class="product-image">
      <img src="https://i.imgur.com/57UZQlC.jpg" alt="Omar Dsoky" />

      <!--     product Information-->
    </div>
    <!--  End product image  -->
  </div>
  <div id="container" style="height: 280px; width: 500px">
    <!-- Start    Product details -->
    <div class="product-details">
      <!--     Product Name -->
      <h4>Estante reutilizada e estilizada a partir de um antigo violão</h4>
      <!--         <span class="hint new">New</span> -->
      <!--         <span class="hint free-shipping">Free Shipping</span> -->
      <!--         the Product rating -->
      <span class="hint-star star">
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star" aria-hidden="true"></i>
        <i class="fa fa-star-half-o" aria-hidden="true"></i>
        <i class="fa fa-star-o" aria-hidden="true"></i>
      </span>

      <!-- The most important information about the product -->
      <p class="information">R$65,90</p>

      <!--         Control -->
      <div class="control">
        <!-- Start Button buying -->
        <button class="btn">
          <!--         the Price -->

          <!--         shopping cart icon-->
          <span class="shopping-cart"
            ><i class="fa fa-shopping-cart" aria-hidden="true"></i
          ></span>
          <!--         Buy Now / ADD to Cart-->
        </button>
        <!-- End Button buying -->
      </div>
    </div>

    <!--     End    Product details   -->

    <!--     Start product image & Information -->

    <div class="product-image">
      <img src="https://i.imgur.com/xYOEifO.jpg" alt="Omar Dsoky" />

      <!--     product Information-->
    </div>
    <!--  End product image  -->
  </div>
</div>

<button class="btn-success btn1 button1 mb-5" routerLink="/todosprodutos">
  Todos os produtos
</button>

<!--/ destaques  -->


<!--Informativo  -->
<main id="barba-wrapper" class="mb-4" >
  <div  >


  <header class="headeru" style="background-image: url(https://wallpaperaccess.com/full/6123621.jpg); " >
  <h1  style="color: #97c9e8;">Como e porque reutilizar?</h1>
  <p  style="color: #97c9e8;">Quais atitudes você pode adotar hoje?</p>

</header>



  </div>

  </main>

  <section id="gallery">
    <div class="container">
      <div class="row">
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://i.imgur.com/LkB4wbG.png" style = 'height: 235px' alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Tente renovar a utilização de bens</h5>
          <p class="card-text">Quando uma garrafa de plástico já não comporta conteúdo ou quando uma peça de roupa está desbotada, o melhor não é descartá-los. A garrafa pode virar recipiente para outro líquido ou a roupa pode ser costurada ou doada. As possibilidades são diversas! </p>
         <a routerLink = '/dados' class="btn btn-outline-success btn-sm">Leia mais</a>

        </div>
       </div>
      </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
        <img src="https://i.imgur.com/lw59RHm.jpg" style = 'height: 280px' alt="" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Cuidado com os recursos naturais</h5>
          <p class="card-text">Reutilizar um bem de consumo gera múltiplos benefícios ao meio ambiente. Entre eles, encontra-se a redução da necessidade de extração de recursos naturais, a redução de descarte de resíduos, etc</p>
         <a routerLink = '/informacoes' class="btn btn-outline-success btn-sm">Leia mais</a>

        </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
      <div class="card">
        <img src="https://i.imgur.com/loXbDZf.png" style = 'height: 210px;' >
        <div class="card-body">
          <h5 class="card-title">Combate as mudanças climáticas</h5>
          <p class="card-text">Os ganhos ambientais trazidos por essa prática acabam por impactar um cenário ainda mais amplo. Esses benefícios contribuem com a saúde ambiental geral e também para a amenização dos impactos trazidos pelas mudanças climáticas, que é tema do Objetivo de Desenvolvimento Sustentável 13 definido pelas Nações Unidas. </p>
         <a routerLink = '/ods' class="btn btn-outline-success btn-sm">Saiba mais</a>

        </div>
       </div>
      </div>
    </div>
  </div>
  </section>

  <!--/Informativo  -->


<!--Veja Também  -->

<section class="section-name  mt-4">
  <div class="container">
    <header class="section-heading ">
      <h5 class="text-center display-4 mb-4" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: #97c9e8; ">Veja também</h5>
      <p></p>
    </header>

    <div class="row mb-5">
      <div class="col-md-3 row mr-4">
        <div href="# " class="text-center card card-product-grid">
          <a href="# " class="img-wrap">
            <img src="https://i.imgur.com/8YgF0tb.jpeg " class="imgveja" />
          </a>
          <p></p>
          <figcaption class="info-wrap">
            <a>Saboneteira de bambu caseira</a>
            <div class="preco mt-2 text-info">R$19.99 </div>
          </figcaption>
        </div>
      </div>
      <div class="col-md-3 row mr-4">
        <div href="# " class="text-center card card-product-grid">
          <a href="# " class="img-wrap">
            <img src="https://i.imgur.com/wNimBaH.jpg  " class="imgveja" />
          </a>
          <p></p>
          <figcaption class="info-wrap">
            <a>Casinha de bonecas feita á mão</a>
            <div class="preco mt-2 text-info">R$37,80</div>
          </figcaption>
        </div>
      </div>
      <div class="col-md-3 row mr-4">
        <div href="# " class="text-center card card-product-grid">
          <a href="# " class="img-wrap">
            <img src="https://i.imgur.com/lU0PqS3.jpg " class="imgveja" />
          </a>
          <p></p>
          <figcaption class="info-wrap">
            <a>Porta pincél manufaturado</a>
            <div class="preco mt-2 text-info">R$10.00</div>
          </figcaption>
        </div>
      </div>

      <div class="col-md-3 row">
        <div href="# " class="text-center card card-product-grid">
          <a href="# " class="img-wrap">
            <img src="https://i.imgur.com/lKPmCQv.jpg" class="imgveja" />
          </a>
          <p></p>
          <figcaption class="info-wrap">
            <a>Calças reutilizadas</a>
            <div class="preco mt-2 text-info">R$17.80</div>
          </figcaption>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/Veja Também  -->


<!--Notícias  -->

<h1 class="text-center mt-5 display-4 mb-5"  style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color:#baeb6c ;"> Histórias Inspiradoras </h1>


  <img  src="https://i.imgur.com/NhfqlzG.jpg" style="height: 500px; width: 900px; margin-left: 730px; margin-bottom: 60px;" alt="">

  <!--/Notícias  -->


  







