

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');
 
.fonte {
     font-family: 'Poppins', sans-serif;
     
 }.fs{
  font-size: 15pt;
  }
  
  .ti{
  width: 170px;
  height: 160px;
  }
  
  .ti2{
  width: 1000px;
  height: 400px;
  }






.carousel-inner > .carousel-item > img {
  width: 200px;
  height: 400px;
}
.card-produto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  padding: 50px;
  text-align: center;
  
}

.img {
  width: 450px;
  height: 600px;
}

.texto {
  font-size: 30px;
}

.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 2;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 2;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
  position: relative;
  height: 80vh;
}
.fade-carousel .carousel-inner .item {
  height: 80vh;
}
.fade-carousel .carousel-indicators > li {
  margin: 0 2px;
  background-color: #baeb6c;
  border-color: #baeb6c;
  opacity: 0.7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 50px;
  height: 5px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.75);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.hero h1 {
  font-size: 6em;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
  opacity: 0;
  -webkit-transition: 0.7s all ease-in-out 0.7s;
  -moz-transition: 0.7s all ease-in-out 0.7s;
  -ms-transition: 0.7 all ease-in-out 0.7s;
  -o-transition: 0.7s all ease-in-out 0.7s;
  transition: 0.7s all ease-in-out 0.7s;
}
.fade-carousel .carousel-inner .item.active .hero {
  opacity: 1;
  -webkit-transition: 0.7s all ease-in-out 0.7s;
  -moz-transition: 0.7s all ease-in-out 0.7s;
  -ms-transition: 0.7s all ease-in-out 0.7s;
  -o-transition: 0.7s all ease-in-out 0.7s;
  transition: 0.7s all ease-in-out 0.7s;
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: #080d15;
  opacity: 0.7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {
  padding: 10px 40px;
}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #97c9e8;
  border-color: #97c9e8;
  outline: none;
  margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1,
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3,
.fade-carousel .slides .slide-4 {
  height: 80vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(https://i.imgur.com/WbVAMrm.jpg);
}
.fade-carousel .slides .slide-2 {
  background-image: url(https://i.imgur.com/XjCCbnN.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(https://i.imgur.com/lU0PqS3.jpg);
}

.fade-carousel .slides .slide-4 {
  background-image: url(https://i.imgur.com/aR59L7p.jpg);
}

/********************************/
/*          Media Queries       */
/********************************/

@media only screen and (min-width:300px) and (max-width:1200px) and (min-height: 300px) and (max-height:1000px){
.hero{
  width: 100%;
  height: 100%;
  font-size: 4em;
}
}




.carousel-inner > .carousel-item > img {
  width: 600px;
  height: 600px;
}
.card-produto {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: 10px;
  padding: 50px;
  text-align: center;
  
}


/********************************/
/*          Jumbotron      */
/********************************/

.img {
  width: 450px;
  height: 600px;
}


.jumbotron {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.jumbotron .container {
  position: relative;
  z-index: 2;

  background: rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.jumbotron-background {
  object-fit: cover;
  
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}





/********************************/
/*          Jumbotron      */
/********************************/




/********************************/
/*Cards de Produto em destaque   */
/********************************/


/* fonts  */





/* Destaques */

/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

body {
background: #DFC2F2;
    background-image: linear-gradient( 135deg, #CE9FFC 10%, #7367F0 100%);
    background-attachment: fixed;
    background-size: cover;
    }

#container{
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 700px;

}



/*     Product details  */
.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;

}

/*     Product Name */
#container .product-details h1{
    display: inline-block;
    position: relative;
    font-size: 25px;
    color: #344055;
    margin: 0;
}



.control{
    position: absolute;
    bottom: 20%;
    left: 22.8%;

}
.btn1 {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #49ca5c;
  border-radius: 8px;
position: relative;
overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
}

.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #49ca5c;
    border-radius: 8px;
  position: relative;
  overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;

}

.btn:hover{transform: translateY(-4px);}

.btn span {
    
    transition: transform 0.3s;
    display: inline-block;
  padding: 10px 20px;
    font-size: 1.2em;
    margin:0;

}

.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 50%;
    display: inline-block;
}

#container img {width: 100%;height: 100%;}
.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/* fim de destaques */

/********************************/
/*Cards de Produto em destaque   */
/********************************/




/********************************/
/*         Botão   */
/********************************/

.button1 {
  margin: 0 auto;
  display: block;
  background-color: #49ca5c;
  border: none;
  color: white;
  padding: 16px 32px;

  font-size: 16px;

  opacity: 0.6;
  transition: 0.3s;

  text-decoration: none;
  cursor: pointer;
}

.button1:hover {
  opacity: 0.5;
  z-index: 1;

  height: 100%;
  opacity: 1;
}


/********************************/
/*         Botão   */
/********************************/




/********************************/
/*         Informativo  */
/********************************/


img.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}




.headeru {
  position: relative;
  height: 70vh;
  background-repeat: no-repeat;



  background-position: center center;
}

header h1 {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 40%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  webkit-transform: translate(-50%, -50%);
  moz-transform: translate(-50%, -50%);
font-size: 58px;
font-weight: bold;
}


header p {
  position: absolute;
  width: 90%;
  text-align: center;
  top: 50%;
  left: 50%;
  color: #fff;
  transform: translate(-50%, -50%);
  webkit-transform: translate(-50%, -50%);
  moz-transform: translate(-50%, -50%);
font-size: 18px;
font-weight: normal;
}

.p1 {
  margin: 15px auto;
  width: 100%;
  max-width: 800px;
  line-height: 1.7;

}

#header {
  background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
}




/* cards informativos */

.card-web {
  box-shadow: 0 2px 8px rgba(61, 65, 84, 0.25);
  border:none;
  z-index: 1;
  padding:0px 0px 10px 0px;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;

}

.card-web h4 {
 color:#444;
  margin-top:5px;
   font-size:1.2rem;
}

.card-web p {
 color:#666;
 font-size:.9rem;
}


.hover-up {
  top: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
}
.hover-up:hover {
  box-shadow: 0 20px 40px rgba(61, 65, 84, 0.25);
  top: -2px;
}

.hover-line:hover::before {
  width: 100%;

}
.hover-line::before {
  content: '';
  display: block;
  height:3px;
  width: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #49ca5c;
  transition: all 0.2s ease-in-out;
}

.btnInformativo {
  transform: translateY(0px);
  transition: 0.3s linear;
  background: #49ca5c;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;

}

/********************************/
/*         Informativo  */
/********************************/





/********************************/
/*         Veja também  */
/********************************/

.imgveja{
height: 300px;
width: 230px;

}


/********************************/
/*         Veja também  */
/********************************/





/********************************/
/*        Imagem fundo inicio */
/********************************/


.bg-image {
  /* The image used */
  background-image:url(https://i.imgur.com/Gkv2VYx.jpg); 

  /* Add the blur effect */
 
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-image2 {
  /* The image used */
  background-image: url(https://i.imgur.com/rJsVFKS.jpg);

  /* Add the blur effect */
 
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


/********************************/
/*        Imagem fundo inicio */
/********************************/





/* Carrosel Histórias inspiradoras */
.buttono {
  background-color: #97c9e8;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 8px;
  margin: 3px 1px;
}

.button5o {border-radius: 50%;}

      /* carrosel histórias inspiradoras */






      

      .cards-fdp{

        flex-direction: initial;
      }